:root {
    --black: #000;
    --purple: #ae81ff;
    --red: #f92672;
    --yellow: #fd971f;
    --green: #a6e22e;
    --blue: #66d9ef;
    --darkgrey: #3e3d32;
    --lightgrey: #fff;
    --white: #f8f8f2;
}

@font-face {
    font-family: Lexend;
    src: url("Lexend.ttf");
}

body {
    background: var(--black);
    color: var(--white);
    font-family: Lexend, sans-serif;
    font-variation-settings: 'HEXP' 0;
    margin: 0px;
    padding: 10vw;
    font-weight: 500;
}

h1.title {
    font-size: 3rem;
    margin-block: 0px;
    margin: 1.5rem;
    font-weight: 300;
}

h2 {
    font-size: 2rem;
    margin-block: 0px;
    padding: 2rem 1rem;
    font-weight: 400;
}

#main-logo {
    height: 6rem;
}

.hflex {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: stretch;
}

.linesep {
    background-color: var(--white);
    height: 3px;
    padding-top: 0.45rem;
    min-width: 6px;
    background-clip: content-box;
    flex-grow: 1;
}

a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.5rem 0px;
    transition: 0.1s ease;
    font-variation-settings: 'HEXP' 0;
    position: relative;
}

a:hover {
    /* font-weight: 900; */
    /* color: var(--purple); */
    transition: 0.1s ease;
    font-variation-settings: 'HEXP' 40;
}

a::before {
    content: "";
    height: 3px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 100%;
    background-color: var(--white);
    transition: 0.4s ease;
}

a:hover::before {
    right: 0%;
    transition: 0.2s ease;
    /* background-color: var(--purple); */
}

.linklist {
    display: flex;
    flex-direction: column;
    align-items: start;
}